.julee-regular {
    font-family: "Julee", cursive;
    font-weight: 400;
    font-style: normal;
  }  

* {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    height: 100%;
}

.container .side {
    position: relative;
    width: 400px;
    height: 100%;
}

.container .side img {
    width: 100%;
    min-height: 100%
}

.container .side h1 {
    font-family: "Julee", 'Times New Roman', Times, serif;
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 4rem;
}

a { color: inherit }

.container .side p {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: x-small;
}

.container .side .credit {
    position: absolute;
    top: 97%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.container .side .logo {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
    display: flex;
    align-items: center;
    background-color: rgba(25, 25, 25, 0.6);
    width: 100%;
}

.container .side .logo img {
    width: 8rem;
    height: auto;
}

.container .main {
    position: relative;
    padding-left: 50px;
    padding-top: 100px;
}

.container .main h3 {
    max-width: 75%;
    padding-bottom: 30px;
}

.container .main h4 {
    padding-top: 40px;
    padding-bottom: 30px;
    font-size: large;
}

 .container .main form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 50px;
    width: 200px;
}

.container .main form .field {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.container .main form .field input {
    border: 2px solid #E5E7EB;
    border-radius: 5px;
    height: 25px;
    font-size: large;
}

.container .main form .field input:focus {
    outline: none;
    border: 2px solid blue;
    box-shadow: 3px 3px 4px black;
}

.container .main form .field input:invalid {
    outline: none;
    border: 2px solid red;
    box-shadow: 3px 3px 4px black;
}

.container .main form button {
    margin-top: 50px;
    padding: 12px;
    background-color: #87b52a;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: large;
    box-shadow: 1px 1px 3px black;
    cursor: pointer;
}

.container .main #member {
    padding-top: 15px;
    padding-bottom: 75px;
}

.container .main p a {
    color: #87b52a
}

.container .main form #pass {
    position: relative;
}

.container .main form #pass #message {
    visibility: hidden;
    width: fit-content;
    background-color: lightgray;
    color: black;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    margin-left: -125px;
  }

  .container .main form #pass #message::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: lightgray transparent transparent transparent;
  }
  
  #message p {
    font-size: 18px;
    margin: 0;
    padding: 0;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -10px;
    content: "\2713";
  }
  
  /* Add a red text color and an "x" icon when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -10px;
    content: "\0078";
  }

  .container .main form #confirm #password_message {
    visibility: hidden;
    color: red;
    padding-top: 5px;
  }